header {
  border-bottom-color: black;
  border-bottom: 1px solid;
}


.tophead {
  border-bottom-color: black;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

#name {

  color: dodgerblue;
}

#about {
  border-bottom-color: black;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

.maincontainer {

  padding-top: 25px;
}

footer {
  text-align: center;
}

.Orlando {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 980px) {
  .Orlando {
    width: 50%;
    height: auto;
  }
}