header {
  border-bottom-color: black;
  border-bottom: 1px solid;
}


.tophead {
  border-bottom-color: black;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

.jumbotron {
  border-bottom: 1px solid lightgray;
}

#example {
  align-self: center;
}

#navbar {

  color: dodgerblue;
}

#about {
  border-bottom-color: gray;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}

#skills {
  border-bottom-color: gray;
  border-bottom: 1px solid lightgray;
  background-color: #e9ecef;
  padding-bottom: 8px;
}

#projects {
  border-bottom-color: gray;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}

#contact {
  
  border-bottom-color: gray;
  border-bottom: 1px solid;
  background-color: #e9ecef;
  padding-bottom: 8px;
}
/* .maincontainer {

  padding-top: 25px;
} */

footer {
  text-align: center;
  background-color: #e9ecef;
  color: dodgerblue;
}

.profile {
  height: 150px;
  width: 150px;
}

.card {
  align-content: center;
  margin: 0 auto;
}

.card-body {
  background-color: rgb(255, 253, 253);
}

.card-img-top{
  height: 215px;
  width: 285px;
}

#note{
  text-align: center;
}

.fa {
  padding: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

/* 
Attempt of mobile responsiveness unfinished */

@media screen and (max-width: 425px) {
.Orlando{
  margin: 0 auto;
    align-content: center;
}

  .col-md-4 {
    align-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .col-md-8{
    align-content: center;
    margin: 0 auto;
    width: 100%;
    float: left;
  }

}

